openapi: 3.1.0
info:
  title: BCINexus Public API
  version: 0.1.0-draft
  summary: Draft public API contract for BCINexus developer integrations.
  description: >
    This specification is a public placeholder. It does not expose proprietary
    BCINexus or BCILattice implementation details.
  license:
    name: MIT
    url: https://github.com/Rehan0546/BCINexus/blob/main/LICENSE
servers:
  - url: https://api.bcinexus.xyz/v1
    description: Placeholder production API base URL.
security:
  - bearerAuth: []
tags:
  - name: Projects
  - name: Pipelines
  - name: Plugins
  - name: Health
paths:
  /health:
    get:
      tags: [Health]
      summary: Check API health.
      operationId: getHealth
      security: []
      responses:
        "200":
          description: API health status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /projects:
    get:
      tags: [Projects]
      summary: List accessible projects.
      operationId: listProjects
      responses:
        "200":
          description: Project list.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Project"
    post:
      tags: [Projects]
      summary: Create project metadata.
      operationId: createProject
      responses:
        "201":
          description: Created project.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
  /pipelines:
    get:
      tags: [Pipelines]
      summary: List pipeline metadata.
      operationId: listPipelines
      responses:
        "200":
          description: Pipeline list.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Pipeline"
  /plugins:
    get:
      tags: [Plugins]
      summary: List public plugin manifests.
      operationId: listPlugins
      responses:
        "200":
          description: Plugin manifest list.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PluginManifest"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
  schemas:
    HealthResponse:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [ok]
    Project:
      type: object
      required: [id, name, created_at]
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        created_at:
          type: string
          format: date-time
    Pipeline:
      type: object
      required: [id, name, version]
      properties:
        id:
          type: string
        name:
          type: string
        version:
          type: string
        modality:
          type: string
        metadata:
          type: object
          additionalProperties: true
    PluginManifest:
      type: object
      required: [id, name, version, entry]
      properties:
        id:
          type: string
        name:
          type: string
        version:
          type: string
        entry:
          type: string
        permissions:
          type: array
          items:
            type: string
